.container {
  border-bottom: 2px solid #006494;
  border-left: 2px solid #006494;
  border-right: 3px solid #006494;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container:hover {
  cursor: pointer;
}
.container > h1 {
  font-size: 26px;
}
.container img {
  width: 50%;
}
