.container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container:hover {
  cursor: pointer;
}
.container > h1 {
  font-size: 26px;
}
.container img {
  width: 50%;
}
