.container {
  flex: 0.1;
  display: flex;
  align-items: center;
  color: #247ba0;
  min-width: 100%;
  justify-content: space-around;
}
.container > a,
.container > button,
.container > h2 {
  border: none;
  color: #1b98e0;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  border-bottom: 2px solid #1b98e0;
  background: none;
  text-align: center;
}

.container > a {
  flex: 0.4;
  color: white;
  background-color: #1b98e0;
}

.container > button,
.container > h2 {
  flex: 0.3;
}

.container > a:hover,
.container > button:hover {
  color: #13293d;
  cursor: pointer;
}
.container > a:hover {
  background-color: #1b98e0c9;
  color: white;
}
.container > a:active {
  background-color: #247ba0;
}
@media (max-width: 768px) {
  .container {
    flex: 0.5;
    flex-direction: column;
  }
  .container > a,
  .container > button,
  .container > h2 {
    flex: 1;
    background: none;
    border: none;
    color: white;
  }
  .container > a:hover,
  .container > button:hover {
    color: #1b98e0;
    background: none;
    opacity: 0.5;
  }
}
