.container {
  flex: 0.1;
  display: flex;
  align-items: center;
  color: #247ba0;
}
.container > a,
.container > button,
.container > h2 {
  border: none;
  color: #1b98e0;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  border-bottom: 2px solid #1b98e0;
  background: none;
  text-align: center;
}

.container > a {
  flex: 0.4;
}

.container > button,
.container > h2 {
  flex: 0.3;
}

.container > a:hover,
.container > button:hover {
  color: #13293d;
  cursor: pointer;
}
