.chosen_exercise_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  width: 70%;
  gap: 1rem;
  margin: 6rem auto;
}

@media (max-width: 492px) {
  .container {
    margin: 9rem auto;
  }
}
