.container {
  flex: 0.75;
  overflow: auto;
  height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.chosen_exercise_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  width: 70%;
  gap: 1rem;
  margin: 6rem auto;
}


