.container {
  border: 2px solid #006494;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  height: 240px;
}
.container > h4 {
  text-align: center;
  color: #13293d;
}

.container > img {
  width: 100px;
  border-radius: 50%;
}

.container:hover {
  cursor: pointer;
  border-color: #1b98e0;
}

.sets_reps {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sets_reps input {
  width: 25px;
  margin-left: 10px;
  margin: 0 10px;
}

.close {
  position: absolute;
  right: 10px;
  top: 0;
  width: 24px;
  height: 24px;
  opacity: 0.3;
  border: none;
  background: none;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 24px;
  width: 2px;
  top: 5px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* Chrome, Safari, Edge, Opera */
.container input::-webkit-outer-spin-button,
.container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.container input[type='number'] {
  -moz-appearance: textfield;
}
