.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.exerciseInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.exerciseInfo > img {
  width: 100px;
  border-radius: 50%;
}

.sets_reps {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sets_reps input {
  width: 25px;
  margin-left: 10px;
  margin: 0 10px;
}
