.container {
  box-shadow: 0px 0px 5px #006494;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 140px;
  position: relative;
}
.container:hover {
  cursor: pointer;
}

.container h2 {
  color: #13293d;
}

.close {
  position: absolute;
  right: 10px;
  top: 0;
  width: 32px;
  height: 32px;
  padding: 20px;
  opacity: 0.3;
  border: none;
  background: none;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  top: 5px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
