.container {
  box-shadow: 0px 0px 5px #006494;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 140px;
  position: relative;

  transition: all 1s;
}
.container:hover {
  cursor: pointer;
}

.container h2 {
  color: #13293d;
}

.container:after,
.container:before {
  content: ' ';
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}
.container:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid #006494;
  border-left: 5px solid #006494;
}
.container:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid #006494;
  border-right: 5px solid #006494;
}

.container:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.container:hover:before,
.container:hover:after {
  width: 100%;
  height: 100%;
}

.close {
  position: absolute;
  right: 10px;
  top: 0;
  width: 32px;
  height: 32px;
  padding: 20px;
  opacity: 0.3;
  border: none;
  background: none;
  z-index: 22;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  top: 5px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
