.container {
  flex: 0.45;
}
.container > h1 {
  text-align: center;
}
.workout_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  width: 70%;
  gap: 1rem;
  margin: 3rem auto;
}
